CMakeFiles/
.vs/
bin/
*.dir/
x64/
html/
latex/
autogen/
build-*/
tests/_deps
tests/Debug
tests/lib/Debug
moc_*.cpp*
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.cmake
*.dll
CMakeCache.txt
CMakeLists.txt.user